__pycache__/
*.py[cod]
*.class
.env
.idea/
.vscode/
*.swp
.DS_Store

# Ignore virtual environments recursively
**/venv/
**/.venv/
**/venv_*/
env/
*venv*
.venv*

# Ignore large directories
iq9_ubuntu_images/
ubuntu_install/
v2.41.0.251128/
v2.41.0.251128.zip

*.safetensors
*.onnx.data
*tar.gz